body{
    font-family: 'Poppins', sans-serif;
}
h1{
   font-size: 50px;
}
.soto-font{
    color: orange;
}
span{
    color: orange;
}
section{
    display: flex;
}
.top-1{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding: 15px;
    margin: 15px;
}
#top-img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
#middle-img{
    width: 50%;
    padding-left: 25%;
}
.recipies{
    text-align: center;
}
.recipies p{
    padding-left: 25%;
    padding-right: 25%;
}
.duble-pera{ 
    padding: 4% 6%;
    border-radius: 10px;
}
.half-width2{
    width: 50%;
    padding: 20px;
    margin:10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.half-width2 h1{
    margin: 0px;
    padding: 0px;

}
.half-width2 p{
    margin: 0px;
    padding:0px;
}
.bottom-img{
    width: 100%;
}
.bottom-social{
    display: flex;
    padding-left: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.jaka-naka{
    text-align: center;
    padding:5%;
    border: 20px;
    
}
footer{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.945);
    font-weight: 700;
    padding: 10px;
}